body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    background:#35424a;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid yellow;
}
.heading{
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin-left: 100px;
    font-weight: bold;
}
.heading h1{
    margin-right: 10px;
}

.container li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline;
    
}
.container a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: bold;
    
}
.container a:hover{
    color: #35424a;
    background-color: white;
}
header ul{
    margin-top: 32px;
    margin-right: 55px;
}

#showcase{
    position: relative;
    height: 403px;
    background-image: url(/main.avif);
    padding-top: 1px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container2{
    padding-top:40px;
    text-align: center;
    color: white;
}
.container2 #p1{
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bold; 
}
.container2 #p2{
    margin-top: -11px;
    font-size: 17px;
    font-weight: bold;
}
.fa-brands{
    font-size: 70px;
}
#img1,#img2,#img3{
    width: 50px;
    
}
.container3{
    display: flex;
    margin-top: 10px;
    
}
.container3 .box{
    width: 33%;
    padding: 0 10px;
    padding-top: 20px;
    text-align: center;
}
footer{
    height: 60px;
    background-color:skyblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}
footer p{
    font-size: 20px;
    font-weight: normal;
}
